#fadeout {
  position: fixed;
  user-select: none;
  pointer-events: none;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  transition: opacity ease 0.5;
}

.circle1 {
  top: 5%;
  right: 15%;
  transition: right ease 1s;
  overflow: visible;
}

.circle1:hover {
  right: -1px;
}

.circle2 {
  bottom: 5%;
  left: 15%;
  transition: left ease 1s;
  overflow: visible;
}

.circle2:hover {
  left: -1px;
}

.wordsRight,
.wordsLeft,
.paragraph {
  font-family: bigzoomers2;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  overflow: visible;
}

.paragraph {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  font-size: 115%;
  color: #000000;
  text-align: center;
}

.header {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  font-family: bigzoomers;
  font-size: 300%;
  text-align: center;
  color: black;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  overflow: visible;
}

.buttonOne:hover,
.buttonTwo:hover,
.buttonThree:hover {
  transform: scale(97%);
}

.buttonOne:active,
.buttonThree:active,
.buttonTwo:active {
  transform: scale(90%);
}

.links:active {
  transform: scale(90%);
}

.links:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.322), 0 2px 4px rgba(0, 0, 0, 0.322),
    0 4px 8px rgba(0, 0, 0, 0.322), 0 8px 16px rgba(0, 0, 0, 0.322),
    0 16px 32px rgba(0, 0, 0, 0.322), 0 32px 64px rgba(0, 0, 0, 0.322);
  font-weight: bold;
}

.links {
  color: black;
  /* font-weight: bold; */
  font-family: bigzoomers2;
}

.smallTitles {
  font-size: 150%;
  font-weight: 900;
}

.glass {
  overflow: visible;
}
