body {
    background: orange;
}

.glass {
    background: linear-gradient(to right bottom,
            rgba(255, 73, 49, 0.7),
            rgba(255, 255, 255, 0.3));
}

.circle1, .circle2 {
    background: linear-gradient(to left top,
            rgba(255, 255, 255, 0.3),
            rgba(255, 73, 49, 0.7));
}

#cycleCss button {
    background: orange;
}