body {
    background: linear-gradient(to right top, #8fa3ffb4, #18243f);
}

.glass {
    background: linear-gradient(to right bottom,
            rgba(250, 255, 173, 0.7),
            rgba(201, 255, 164, 0.3));
}

.circle1, .circle2 {
    background: linear-gradient(to right bottom,
            rgba(250, 255, 173, 0.7),
            rgba(201, 255, 164, 0.3));
}

#cycleCss button {
    color: #fff;
    background: #18243f;
}