main {
    background: linear-gradient(to right top, #ffdf9bb4, #f18aff);
}

.glass {
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3));
}

.circle1, .circle2 {
    background: linear-gradient(to left top,
            rgba(0, 255, 234, 0.699),
            rgba(255, 255, 255, 0.993));
}

#cycleCss button {
    background: #f18aff;
}