* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

*::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: manrope;
    src: url(regular.otf);
}

@font-face {
    font-family: orkney;
    src: url(Orkney\ Regular.otf);
}

main {
    min-height: 100vh;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    height: 20rem;
    margin-top: 4.5rem;
    margin-bottom: 5rem;
    background: linear-gradient(to right bottom,
            rgba(255, 73, 49, 0.7),
            rgba(255, 255, 255, 0.3));
    z-index: 100;
    backdrop-filter: blur(1rem);
    position: relative;
    border-radius: .5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);
}

.circle1, .circle2 {
    background: white;
    background: linear-gradient(to left top,
            rgba(255, 255, 255, 0.3),
            rgba(255, 73, 49, 0.7));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: .5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);
    z-index: 2;
}

.buttonThree {
    background: #f18aff;
    border-radius: .5rem;
    height: 10rem;
    width: 10rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);
    z-index: 2;
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    bottom: 20%;
    right: 15%;
    overflow: visible;
}

.clickMe3 {
    color: rgb(255, 73, 49);
    font-family: orkney;
    z-index: 3;
    transform: rotate(-90deg);
    margin: 0;
    margin-left: 2.5rem;
    margin-top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: .5rem;
    height: 5rem;
    width: 10rem;
    font-size: large;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);
    overflow: visible;
}

.clickMe1 {
    display: none;
    position: absolute;
}

.clickMe2 {
    display: none;
    position: absolute;
}