* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

*::-webkit-scrollbar {
    display: none;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #ffdf9bb4, #f18aff);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    height: 20rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3));
    border-radius: 1rem;
    z-index: 100;
    backdrop-filter: blur(1rem);
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);
}

.circle1, .circle2 {
    background: white;
    background: linear-gradient(to left top,
            rgba(0, 255, 234, 0.699),
            rgba(255, 255, 255, 0.993));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: .5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);
    z-index: 2;
}

.wordsRight {
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 25%;
    font-size: 100%;
    color: #000000;
    text-align: center;
}

.wordsLeft {
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 23%;
    font-size: 100%;
    color: #000000;
    text-align: center;
}

.backCircle1 {
    position: absolute;
    background: white;
    background: linear-gradient(to left top,
            rgba(255, 255, 255, 0.103),
            rgba(255, 255, 255, 0.37));
    height: 35rem;
    width: 35rem;
    border-radius: 50%;
    left: 80%;
    top: 60%;
    z-index: 1;
}

.backCircle2 {
    position: absolute;
    background: white;
    background: linear-gradient(to left top,
            rgba(255, 255, 255, 0.103),
            rgba(255, 255, 255, 0.37));
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    right: 80%;
    bottom: 60%;
    z-index: 1;
}

.backCircle3 {
    position: absolute;
    background: white;
    background: linear-gradient(to left top,
            rgba(255, 255, 255, 0.103),
            rgba(255, 255, 255, 0.37));
    height: 50rem;
    width: 50rem;
    border-radius: 50%;
    right: 60%;
    top: 10%;
    z-index: 1;
}

.backCircle4 {
    position: absolute;
    background: white;
    background: linear-gradient(to left top,
            rgba(255, 255, 255, 0.103),
            rgba(255, 255, 255, 0.37));
    height: 50rem;
    width: 50rem;
    border-radius: 50%;
    left: 60%;
    bottom: 10%;
    z-index: 1;
}

.buttonOne {
    background: #18243f;
    border-radius: .5rem;
    height: 10rem;
    width: 10rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);
    z-index: 2;
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    bottom: 20%;
    right: 15%;
}